*.xcuserdatad
=======
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.swp
UserInterfaceState.xcuserstate

# Ignore common-ios for Modulo.
modules/common-ios

# Ignore PureLayout for Modulo.
modules/PureLayout
.DS_Store

# Ignore Audio-Frameworks for Modulo.
modules/Audio-Frameworks
# Ignore configurations for Modulo.
modules/configurations